
@import "variable";

body{
  background: lighten($black, 94%);
  padding-bottom: 50px;
}


.progress-bar{
 width:auto!important;
  background: none!important;
  padding: 5px;
}

.section-title{
  padding: 25px;
  text-align: center;

  .title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }

  .sub-title{
    font-size: 18px;
  }
}

//=======Navbar Section========

.header{

  .navbar{
    display: flex;

    .navbar-brand{
      flex: 1;
    }

    .navbar-link-item{
      flex: 4;

      .navbar-nav{
        display: flex;

        .nav-item{
          border: none;
          margin-left: 20px ;

          .nav-link{
            border: none;
          }
        }
      }
    }
  }
}

//======About Section==========

.home-inner{
  position: relative;
  height: 500px;
  background: url("../images/popcorn.jpg") no-repeat center;
  background-size: cover;

  .dark-overlay{
    position: relative;
    background: $black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
  }
}


//==========about==========

.about{
  .about-me{
    width: 100%;
    background: $white;
    margin-top: -300px;
    z-index: 1;
    box-shadow: 0px 2px 20px -7px lighten($black, 50%);
    //font-family: sans-serif;
    color: lighten($black, 35%);

    .biodata{

      .intro{
        .hello{
          background: $primary;
          color: $white;
          font-weight: bold;
          font-size: 18px;
        }
      }

      .bio-head{
        border-bottom: 1px solid lighten($black, 85%);

        .name{
          font-size: 36px;
          margin-bottom: 0;

          span{
            font-weight: bold;
          }
        }

        .designation{
          font-size: 22px;
          margin-bottom: 0;
        }
      }


      .bio-details{
        .bio-label{
          display: flex;

          .bio-title{
            flex: 1;
            font-weight: bold;
          }

          .bio-description{
            flex: 3;
            font-weight: bold;
            color: lighten($black, 60%);

          }
        }
      }
    }

    .social-media{
      background: $primary;
      display: flex;
      justify-content: center;

      .icon-link{
        text-decoration: none;
        color: $white;
        font-size: 28px;
        margin: 0 20px;

        &:hover{
          color: $black;
        }

        .mdi{
          padding: 10px;
          border: none;
          width: 51px !important;

          &:hover{
            background: lighten($primary, 5%);
            border-radius: 100%;
          }

        }
      }
    }
  }
}


//=======Skills==============

.skills{
  .accordion{
    box-shadow: 0px 2px 20px -8px  $primary;
    width: 100%;
    transition: all 0.1ms !important;

    .card{
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;

      .card-items{

        .card-header{
          font-size: 20px;
          cursor: pointer;
          text-align: center;
          border: none;

        }

        .card-body{
          border-right: 2px solid $primary;
          border-left: 2px solid $primary;
          border-top: 1px solid lighten($primary, 20%);
        }
      }
    }

    .front-end{
      .front-end-body{
        display: flex;

        .markup-lang{
          flex: 1;

          .progress-item{
            p{
              margin-bottom: 3px;
            }
            .progress{
              margin-bottom: 30px;
              height: 6px;
              background: $primary;
              .progress-bar{

              }
            }
          }
        }

        .script-lang{
          flex: 1;

          .progress-item{
            p{
              margin-bottom: 3px;
            }
            .progress{
              margin-bottom: 30px;
              height: 6px;
              background: $primary;
              .progress-bar{

              }
            }
          }

        }
      }
    }
  }

}


//============portfolio section=================

.service-items{

  background: $white;
  box-shadow: 0px 2px 20px -7px lighten($black, 50%);

  .service-category{
    .card{
      border: none;
      justify-content: left !important;

      .card-body{
        padding-top: 0;
        padding-bottom: 0;
        .service-icon{
          font-size: 52px;
          color: $primary;
        }

        .card-title{
          .title{
            font-size:24px ;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
          .sub-title{
            font-size: 20px;
            color: $primary;
          }
        }

        hr{
          border: 2px solid lighten($black, 85%);
          justify-content: left !important;
        }

        .service-description{
          .text{
            font-size: 20px;
          }
        }
      }

    }

  }
}


//==============Experience Section=================


.experience-items{

  .card{
    border: none;
    border-radius: 0;
    border-right: 5px solid $primary;
    border-left: 5px solid $primary;
    box-shadow: 0px 2px 20px -7px lighten($black, 50%);
    position: relative;
    margin-bottom: 30px;

    @media (max-width: 425px){
      border-right: none;
      border-left: none;
      border-top: 5px solid $primary;
    }

    .year{
      text-align: center;
      font-weight: bold;
      color: $primary;
      font-size: 20px;
      P{
        margin-bottom: 0;
      }
    }

    .company-title{
      text-align: center;
      .logo{
        height: 70px;
        width: 120px;
      }

      .position{
        font-size: 16px;
        text-transform: uppercase;
        color: lighten($black, 50%);
      }
    }

    .work-description{
      font-size: 20px;
      color: lighten($black, 40%);
      margin-bottom: 10px;
    }

    .arrow-box {
      height: 30px;
      width: 30px;
      background: darken($primary, 5%);
      transform: rotate(45deg);
      position: absolute;
      display: block;
      box-shadow: 0px 2px 20px -7px lighten($black, 50%);
      border: none;
      z-index: 1;
    }

  }


  .experience-left{
    padding-right: 50px;

    @media (max-width: 425px){
      padding-right: 0!important;
    }

    .left-card{
      border-left: none;

      .arrow-box{
        margin-left: 482px;
        margin-top: -220px;

        @media (max-width: 1024px){
          margin-left: 392px;
          margin-top: -240px;
        }

        @media (max-width: 768px){
          margin-left: 272px;
          margin-top: -260px;
        }

        @media (max-width: 425px){
          display: none;
        }

      }
    }

  }

  .experience-right{

    padding-left: 50px;

    @media (max-width: 425px){
      padding-left: 0!important;
    }

    .right-card{
      border-right: none;

      .arrow-box{
        margin-left: -35px;
        margin-top: -220px;

        @media (max-width: 1024px){
          margin-left: 412px;
          margin-top: -240px;
        }

        @media (max-width: 768px){
          margin-left: 292px;
          margin-top: -260px;
        }

        @media (max-width: 425px){
          display: none;
        }

      }
    }

  }
}