
@import "variable";




.section-title{
  padding: 25px;
  text-align: center;
  //font-family: sans-serif;

  .title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }

  .sub-title{
    font-size: 18px;
  }
}

//=======Navbar Section========

.header{

  .navbar{
    display: flex;

    .navbar-brand{
      flex: 1;
    }

    .navbar-link-item{
      flex: 4;

      .navbar-nav{
        display: flex;

        .nav-item{
          border: none;
          margin-left: 20px ;

          .nav-link{
            border: none;
          }
        }
      }
    }
  }
}

//======About Section==========

.home-inner{
  position: relative;
  height: 500px;
  background: url("../images/popcorn.jpg") no-repeat center;
  background-size: cover;

  .dark-overlay{
    position: relative;
    background: $black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
  }
}


//==========about==========

.about{
  .about-me{
    width: 100%;
    background: $white;
    margin-top: -300px;
    z-index: 1;
    box-shadow: 0px 2px 20px -7px lighten($black, 50%);
    //font-family: sans-serif;
    color: lighten($black, 35%);

    .biodata{

      .intro{
        .hello{
          background: $primary;
          color: $white;
          font-weight: bold;
          font-size: 18px;
        }
      }

      .bio-head{
        border-bottom: 1px solid lighten($black, 85%);

        .name{
          font-size: 36px;
          margin-bottom: 0;

          span{
            font-weight: bold;
          }
        }

        .designation{
          font-size: 22px;
          margin-bottom: 0;
        }
      }


      .bio-details{
        .bio-label{
          display: flex;

          .bio-title{
            flex: 1;
            font-weight: bold;
          }

          .bio-description{
            flex: 3;
            font-weight: bold;
            color: lighten($black, 60%);

          }
        }
      }
    }

    .social-media{
      background: $primary;
      display: flex;
      justify-content: center;

      .icon-link{
        text-decoration: none;
        color: $white;
        font-size: 28px;
        margin: 0 20px;

        &:hover{
          color: $black;
        }

        .mdi{
          padding: 10px;
          border: none;
          width: 51px !important;

          &:hover{
            background: lighten($primary, 5%);
            border-radius: 100%;
          }

        }
      }
    }
  }
}


//=======Skills==============

.skills{
  .accordion{
    box-shadow: 0px 2px 20px -8px  $primary;
    width: 100%;
    transition: all 0.1ms !important;

    .card{
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;

      .card-items{

        .card-header{
          font-size: 24px;
          cursor: pointer;
          text-align: center;
          border: none;

        }

        .card-body{
          border-right: 2px solid $primary;
          border-left: 2px solid $primary;
          border-top: 1px solid lighten($primary, 20%);
        }
      }
    }
  }

}